In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from  sklearn.metrics  import accuracy_score

In [76]:
df = pd.read_csv("DatasetFinal.csv")
df

,Unnamed: 0,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself,Marks
0,0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,1,80 to 89
1,1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,1,80 to 89
2,2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,3,60 to 69
3,3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,1,80 to 89
4,4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,2,70 to 79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,373,0,0,1,0,0,1,2,1,2,1,1,3,0,1,2,1,90 to 100
374,374,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100
375,375,1,1,3,0,0,2,2,3,2,1,1,2,1,7,1,1,90 to 100
376,376,1,0,1,1,1,2,2,2,1,1,1,2,1,7,1,1,90 to 100
377,377,1,1,4,1,1,1,2,4,2,1,1,1,1,5,1,1,90 to 100

In [77]:
x = df.drop("Marks", axis=1)
df.head()
x.head()

,Unnamed: 0,Gender,TravelMethod,TravelTime,PartTimeJob,Relationship,Father's_education,Mother's_education,StudyHours,AttendenceLecs,Concentrate,Friends,SocialMediaTime,extra curricular,HowYouPrepare,StudyPattern,Rate yourself
0,0,1,1,3,0,0,1,1,2,1,1,1,3,1,4,1,1
1,1,1,0,3,0,1,1,2,3,1,1,1,2,1,4,1,1
2,2,1,1,4,0,0,3,2,2,2,1,0,3,0,1,2,3
3,3,1,0,3,0,1,1,2,4,1,1,1,2,1,4,1,1
4,4,1,1,2,0,0,2,1,2,2,1,0,4,0,1,2,2

In [78]:
y = df["Marks"]
y.head()

0    80 to 89
1    80 to 89
2    60 to 69
3    80 to 89
4    70 to 79
Name: Marks, dtype: object

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)


model = DecisionTreeClassifier()

np.random.seed(42)

model.fit(x_train, y_train)

DecisionTreeClassifier()

In [80]:
model.score(x_train,y_train)

1.0

In [81]:
model.score(x_test,y_test)

0.6710526315789473

In [82]:
preds_test = model.predict(x_test)
preds_test

array(['50 to 59', '40 to 49', '60 to 69', '0 to 20', '70 to 79',
       '70 to 79', '90 to 100', '80 to 89', '90 to 100', '0 to 20',
       '90 to 100', '20 to 29', '60 to 69', '80 to 89', '90 to 100',
       '50 to 59', '60 to 69', '0 to 20', '60 to 69', '50 to 59',
       '80 to 89', '80 to 89', '0 to 20', '80 to 89', '70 to 79',
       '20 to 29', '70 to 79', '90 to 100', '70 to 79', '40 to 49',
       '30 to 39', '40 to 49', '60 to 69', '90 to 100', '70 to 79',
       '70 to 79', '60 to 69', '90 to 100', '70 to 79', '40 to 49',
       '30 to 39', '70 to 79', '60 to 69', '60 to 69', '30 to 39',
       '70 to 79', '60 to 69', '70 to 79', '90 to 100', '80 to 89',
       '0 to 20', '90 to 100', '50 to 59', '50 to 59', '70 to 79',
       '0 to 20', '70 to 79', '80 to 89', '60 to 69', '30 to 39',
       '40 to 49', '0 to 20', '90 to 100', '30 to 39', '20 to 29',
       '80 to 89', '30 to 39', '80 to 89', '30 to 39', '0 to 20',
       '70 to 79', '30 to 39', '20 to 29', '50 to 59', '50 to 59',
       '60 to 69'], dtype=object)

In [83]:
preds_train = model.predict(x_train)
preds_train

array(['50 to 59', '70 to 79', '20 to 29', '20 to 29', '30 to 39',
       '90 to 100', '50 to 59', '70 to 79', '30 to 39', '60 to 69',
       '70 to 79', '60 to 69', '90 to 100', '70 to 79', '0 to 20',
       '20 to 29', '60 to 69', '60 to 69', '0 to 20', '0 to 20',
       '50 to 59', '40 to 49', '70 to 79', '90 to 100', '90 to 100',
       '90 to 100', '90 to 100', '60 to 69', '80 to 89', '0 to 20',
       '60 to 69', '40 to 49', '60 to 69', '50 to 59', '30 to 39',
       '30 to 39', '0 to 20', '30 to 39', '90 to 100', '50 to 59',
       '30 to 39', '40 to 49', '0 to 20', '90 to 100', '0 to 20',
       '40 to 49', '20 to 29', '70 to 79', '40 to 49', '70 to 79',
       '50 to 59', '60 to 69', '40 to 49', '50 to 59', '70 to 79',
       '40 to 49', '30 to 39', '20 to 29', '20 to 29', '70 to 79',
       '30 to 39', '40 to 49', '70 to 79', '40 to 49', '50 to 59',
       '70 to 79', '0 to 20', '80 to 89', '60 to 69', '60 to 69',
       '30 to 39', '90 to 100', '20 to 29', '0 to 20', '0 to 20',
       '70 to 79', '0 to 20', '0 to 20', '20 to 29', '70 to 79',
       '70 to 79', '30 to 39', '60 to 69', '0 to 20', '50 to 59',
       '80 to 89', '50 to 59', '70 to 79', '60 to 69', '70 to 79',
       '0 to 20', '90 to 100', '60 to 69', '30 to 39', '20 to 29',
       '50 to 59', '50 to 59', '20 to 29', '40 to 49', '0 to 20',
       '60 to 69', '70 to 79', '50 to 59', '90 to 100', '80 to 89',
       '30 to 39', '50 to 59', '20 to 29', '30 to 39', '40 to 49',
       '20 to 29', '40 to 49', '80 to 89', '90 to 100', '70 to 79',
       '40 to 49', '20 to 29', '20 to 29', '0 to 20', '0 to 20',
       '40 to 49', '40 to 49', '30 to 39', '90 to 100', '90 to 100',
       '40 to 49', '80 to 89', '0 to 20', '30 to 39', '20 to 29',
       '0 to 20', '20 to 29', '20 to 29', '90 to 100', '60 to 69',
       '20 to 29', '50 to 59', '30 to 39', '30 to 39', '80 to 89',
       '50 to 59', '50 to 59', '30 to 39', '50 to 59', '60 to 69',
       '30 to 39', '60 to 69', '50 to 59', '60 to 69', '70 to 79',
       '50 to 59', '0 to 20', '30 to 39', '30 to 39', '40 to 49',
       '20 to 29', '40 to 49', '70 to 79', '90 to 100', '70 to 79',
       '40 to 49', '80 to 89', '20 to 29', '60 to 69', '0 to 20',
       '80 to 89', '80 to 89', '70 to 79', '0 to 20', '0 to 20',
       '50 to 59', '40 to 49', '0 to 20', '30 to 39', '30 to 39',
       '40 to 49', '80 to 89', '90 to 100', '70 to 79', '30 to 39',
       '40 to 49', '50 to 59', '0 to 20', '70 to 79', '50 to 59',
       '20 to 29', '40 to 49', '90 to 100', '70 to 79', '40 to 49',
       '60 to 69', '80 to 89', '30 to 39', '60 to 69', '20 to 29',
       '0 to 20', '80 to 89', '20 to 29', '80 to 89', '90 to 100',
       '80 to 89', '40 to 49', '20 to 29', '60 to 69', '90 to 100',
       '50 to 59', '30 to 39', '40 to 49', '0 to 20', '60 to 69',
       '30 to 39', '80 to 89', '50 to 59', '80 to 89', '60 to 69',
       '70 to 79', '70 to 79', '0 to 20', '90 to 100', '90 to 100',
       '50 to 59', '30 to 39', '40 to 49', '60 to 69', '30 to 39',
       '20 to 29', '20 to 29', '50 to 59', '90 to 100', '40 to 49',
       '90 to 100', '90 to 100', '50 to 59', '40 to 49', '20 to 29',
       '0 to 20', '60 to 69', '30 to 39', '20 to 29', '50 to 59',
       '40 to 49', '80 to 89', '80 to 89', '80 to 89', '90 to 100',
       '70 to 79', '20 to 29', '80 to 89', '40 to 49', '70 to 79',
       '60 to 69', '40 to 49', '30 to 39', '80 to 89', '50 to 59',
       '70 to 79', '40 to 49', '0 to 20', '60 to 69', '90 to 100',
       '40 to 49', '50 to 59', '90 to 100', '60 to 69', '30 to 39',
       '70 to 79', '80 to 89', '0 to 20', '20 to 29', '90 to 100',
       '20 to 29', '0 to 20', '80 to 89', '70 to 79', '90 to 100',
       '30 to 39', '40 to 49', '80 to 89', '50 to 59', '0 to 20',
       '40 to 49', '20 to 29', '50 to 59', '80 to 89', '40 to 49',
       '50 to 59', '0 to 20', '40 to 49', '0 to 20', '90 to 100',
       '60 to 69', '50 to 59', '60 to 69', '20 to 29', '20 to 29',
       '70 to 79', '80 to 89', '20 to 29', '70 to 79', '50 to 59',
       '40 to 49', '90 to 100'], dtype=object)